{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 10"
          ]
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "env": {
    "development": {
      "plugins": [[ "transform-runtime",
        "transform-async-generator-functions",
        "transform-function-bind",
        "react-transform", {
        "transforms": [{
          "transform": "react-transform-hmr",
          "imports": ["react"],
          "locals": ["module"]
        }]
      }]]
    }
  },
  "plugins": [
    [
      "typecheck",
      {
        "disable": {
          "production": true
        }
      }
    ]
  ]
}