{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": [
    "eslint:all",
    "plugin:react/all"
  ],
  "plugins": [
    "import",
    "jsx-a11y",
    "react"
  ],
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "indent": [
      2,
      4,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": 0,
    "sort-imports": 0,
    "max-len": 0,
    "quote-props": 0,
    "no-process-env": 0,
    "function-paren-newline": 0,
    "no-undef": 0,
    "padded-blocks": 0,
    "react/require-optimization": 0,
    "react/prefer-stateless-function": 0,
    "arrow-body-style": 0,
    "one-var": 0,
    "space-before-function-paren": 0,
    "no-extra-parens": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-max-depth": 0
  }
}
